{% extends 'header-footer.html' %}

{% block contents %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Página no encontrada</h1>
        </div>
    </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock%}
