{% from "form_macros.html" import show_field, show_field_submit %}

<!DOCTYPE html>

<html lang="en">

<head>
  <title>NDEAAH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href={{ url_for('static', filename="css/style.css" )}}>
  <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.min.css" )}}>
  <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.min.js" )}}>
  <link rel="stylesheet" href={{ url_for('static', filename="css/jquery-3.4.1.min.js" )}}>
  <link href="https://fonts.googleapis.com/css?family=Chewy|Monoton|Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@700&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
</head>

{%block styles%}

{% endblock %}

<body class="fondo">
  <header class="fondo-n">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"><img class="imagen" src={{ url_for( 'static' , filename="images/logo.jpg" )}} alt="logo">
        </div>
        <div class="col-md-3">
          <h2 class="name">EVENTOS</h2>
        </div>


        <div class="col-md-4" style="align-items: center">
          {% if not current_user.is_authenticated %}
            <h6 class="bienvenida">
              Cree una cuenta y comience a postear sus eventos
            </h6>
          {% endif %}
          {% if current_user.is_authenticated %}
          <h6 class="bienvenida-user">
            {{ current_user.user }}
          </h6>
          {% endif %}
        </div>

        <div class="col-md-3 center" style="margin-top: 15px;">

          {% if not current_user.is_authenticated %}
          <a href="{{url_for('user_register') }}" class="btn btn-light">Registrarse</a>
          <a href="{{url_for('login') }}" class="btn btn-light" data-toggle="modal" data-target="#modalLoginForm">Ingresar</a>
          {% endif %}

          {% if current_user.is_authenticated %}
          <a href="{{url_for('logout') }}"><button type="button" class="btn btn-danger">Salir</button></a>
          {% endif %}

        </div>
        <div class="navbar navbar-expand-md navbar-light bg-light navegador">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link btn botones-nav" href="{{ url_for('index') }}">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn botones-nav" href="{{ url_for('about') }}">NOSOTROS</a>
              </li>

              {% if current_user.is_authenticated %}

              <li class="nav-item">
                <a class="nav-link btn botones-nav" href="{{ url_for('my_events') }}">MIS EVENTOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn botones-nav" href="{{ url_for('event_register') }}">NUEVO EVENTO</a>
              </li>

              {% endif %}

              {% if current_user.admin == 1 %}

              <li class="nav-item">
                <a class="nav-link btn botones-nav" href="{{ url_for('requests') }}">PETICIONES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn botones-nav" href="{{ url_for('show_userList') }}">USUARIOS</a>

                {% endif %}

              </li>
            </ul>
          </div>
        </div>

        {% if not current_user.is_authenticated %}

        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <form method="POST" action="{{ url_for('login') }}" enctype="multipart/form-data">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  {{ show_field(login_form.email , class='form-control') }}
                  {{ show_field(login_form.password , class='form-control') }}
                  {{ show_field(login_form.remember_me) }}
                  {{ show_field_submit(login_form.submit , class='btn btn-success') }}
                </form>
              </div>
            </div>
          </div>
        </div>

        {% endif %}


        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endfor %}
              {% endif %}
              {% endwith %}
            </div>
          </div>
        </div>
  </header>

  {% block contents %}
  {% endblock %}



  <!-- Footer -->
  <footer class="page-footer fondo-b">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
        <a href="#top"><button type="button" class="btn btn-dark btn-lg btn-block" style="margin-top: 10px;">Volver Arriba</button></a>
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-2 p-3 center">
            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com/AgustinUnderground">
              <img src={{ url_for( 'static' , filename="images/facebook.svg" )}} alt="facebook.svg">
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com/orange._.sunshine/">
              <img src={{ url_for( 'static' , filename="images/instagram.svg" )}} alt="instagram.svg" style="margin-left: 10px;">
            </a>
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">© 2019 Copyright: NDEAAH Todos los derechos reservados</div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>
</html>