{% extends 'header-footer.html' %}

{% from "macro.html" import list_user %}

{% block contents %}

<div class="container-fluid" style="margin-top: 5px;">
    <div class="table-responsive">
        <table class="table table-striped table-dark">
            <thead style="color: orangered">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre y Apellido</th>
                <th scope="col">usuario</th>
                <th scope="col">email</th>
                <th scope="col" style="text-align: center">Accion</th>
            </tr>
            </thead>
            <tbody>

            {% for user in user_list %}

            {{ list_user(user) }}

            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}
